
<p>
	<div class = "container d-flex justify-content-center">
		<div class="card" style="width: 18rem;">

<!----------------------- Prévient qu'il faut être connecté pour voir l'event ------------------------------>	
			<p id="notice"><%= notice %></p>

<!----------------------- Affichage de l'event ------------------------------>	
		  <div class="card-body bg-warning">
		    <h2 class=" text-center "> <br/><%= @event.title %> </h2>
		    <p class="card-text"> <br/> <br/> <%= @event.description %> </p>
		  </div>
		  
			<ul class="list-group list-group-flush">

<!----------------------- Infos sur l'event ------------------------------>

		    <li class="list-group-item text-center"> <b> How much? </b> <br/> <%= @event.price %> euros</li>
		 		<li class="list-group-item text-center"> <b> When? </b> <br/> <%= @event.start_date.strftime("%d/%m/%Y at %H:%M") %></li>
		 		<li class="list-group-item text-center"> <b> How long? </b> <br/> <%= @event.duration %> minutes </li>
		 		<li class="list-group-item text-center"> <b> Where? </b> <br/> <%= @event.location %></li>
		  	<li class="card-footer list-group-item"> <small class="text-muted">created the : <%= @event.created_at%><br/> by: <%= @event.admin.first_name %></small></li>

		  </ul>
<!----------------------- Lien pour participer à l'event ------------------------------>
		  <center>
		  <div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <%= if !(@attending_list.include?(@event)) && @event.start_date > Time.now then link_to "Subscribe !", new_attendance_path, class: "btn btn-outline-success" end %>


		  </div>
		  </div>
		  </center>
		  <br/>
		</div>
	</div>

<!--------------------- --NE FONCTIONNE PAS  -->
<!-----------------------voir les invités ----------------------->



<div class="form-group border">
  <h4>Liste des participants</h4>
  <% @event.attendances.each do |attendee| %></p>
  <p><%= attendee.first_name %></p>
  <% end %>
</div>


<!--  SSI c'est ton event : un truc du genre if session id = admin id -->
			<center>
		  <div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <a class="btn btn-outline-secondary" <%= link_to "See my guests", attendance_index_path %></a>
		  </div>
		  </div>
		  </center>
		  <br/>

</p>

